.article {
  font-family: Nunito, sans-serif;
  line-height: 1.6;
  padding: 2rem 1rem;

  &__container {
    container-type: inline-size;
    margin: 0 auto;
    max-width: 900px;
  }

  &__title {
    color: $primary;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;

    @container (min-width: 700px) {
      font-size: 2.5rem;
    }
  }

  &__meta {
    align-items: center;
    color: $dark;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 2rem;
    margin-bottom: 2rem;

    i {
      color: $corporate;
      margin-right: 0.5rem;
    }

    @container (width > 600px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__image {
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    display: block;
    height: auto;
    margin: 2rem auto;
    max-width: 100%;
    width: 100%;
  }

  &__text {
    color: $dark;
    font-size: 1rem;
    margin-bottom: 1.5rem;

    @container (width > 700px) {
      font-size: 1.1rem;
    }
  }

  &__quote {
    background-color: $bg;
    border-left: 4px solid $corporate;
    color: $dark;
    font-style: italic;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: 85%;
  }

  &__list {
    list-style-type: none;
    margin-bottom: 2rem;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;

      i {
        margin-right: 1rem;
      }
      
      &:has(strong) {
        font-weight: bold;
      }

      &:is(:first-child, :last-child) {
        color: $corporate;
      }
    }
  }
}
