<footer class="site-footer">
  <div class="site-footer__container">
    <div class="site-footer__logo">
      <img src="./assets/images/logo_jornades.svg" alt="Logotip Jornades" class="site-footer__logo-img">
    </div>

    <nav class="site-footer__nav">
      <ul class="site-footer__menu">
        <li class="site-footer__item"><a href="index.html">Pàgina Inicial</a></li>
        <li class="site-footer__item"><a href="./participants.html">Participants</a></li>
        <li class="site-footer__item"><a href="./noticia.html">Notícia</a></li>
        <li class="site-footer__item"><a href="./inscripcio.html">Inscripció</a></li>
      </ul>
    </nav>

    <div class="site-footer__social">
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  <div class="site-footer__contact">
    <div class="site-footer__contact-item">
      <i class="fa-solid fa-envelope"></i>
      <p>economiacircular@estem-verds.cat</p>
    </div>
    <div class="site-footer__contact-item">
      <i class="fa-solid fa-phone"></i>
      <p>666 123 456</p>
    </div>
  </div>
</footer>
